@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: Forum;
  src: url('../assets/fonts/Forum/Forum-Regular.ttf');
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
  box-shadow: none;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px;
  width: 100%;
}

.wrapper {
  background-color: #ffe0e2;
  padding-bottom: 20px;
}
.books {
  background-color: #f8f5f5;
}

.parrent {
  width: 59px;
  height: 59px;
  background-color: green;
}
.sub-header {
  margin: 0;
  text-align: center;
  padding: 60px;
}
.books {
  width: 80wh;
  min-height: 90vh;
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
  padding: 20px 0;
}
.cards {
  height: 350px;
  width: 490px;
  border: 1px solid crimson;
  display: flex;
  background-color: #faf0f6;
}
img {
  width: 240px;
  background: #eeecec;
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
}
.hidden {
  display: none;
}

.title {
  margin: 0;
  text-align: center;
  padding-top: 80px;
}
.header {
  min-height: 670px;
  background-image: url('../assets/img/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

.card-wrapper {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
