@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: Forum;
  src: url('../assets/fonts/Forum/Forum-Regular.ttf');
  font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
  box-shadow: none;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px;
  width: 100%;
}

.wrapper {
  background-color: #ffe0e2;
  padding-bottom: 20px;
}
.books {
  background-color: #f8f5f5;
}

.parrent {
  width: 59px;
  height: 59px;
  background-color: green;
}
.sub-header {
  margin: 0;
  text-align: center;
  padding: 60px 0 20px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #504dac;
}
.books {
  width: 80wh;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
  padding: 20px 0;
}
.cards {
  height: 350px;
  width: 490px;
  display: flex;
  background-color: #faf0f6;
  position: relative;
}
img {
  width: 240px;
  background: #eeecec;
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
}
.hidden {
  display: none;
}

.title {
  margin: 0;
  text-align: center;
  padding-top: 80px;
}
.header {
  min-height: 670px;
  background-image: url('../assets/img/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

.card-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.title-link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  letter-spacing: 0.1em;
  color: #504dac;
}

.title-link:hover {
  color: #3697d8;
}

.title {
  transition: 2s;
}

.title:hover {
  transform: scale(1.1);
}
.author {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #5c6a79;
}

.books-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2a2a8f;
}

.price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #101029;
}
.btn {
  width: 60%;
  height: 30px;
  padding: 5px;
  background-color: #5ed690;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 8px;
  color: #626286;
  text-transform: uppercase;
  transition: 2s;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-add {
  width: 100%;
  font-size: 12px;
  height: 40px;
  background-color: #ec447c;
  color: #ddb2b2;
}

.popup-wrapper {
  display: block;
  width: 550px;
  height: 250px;
  position: absolute;
  background-color: rgba(230, 226, 243, 0.95);
  padding: 20px;
  border-radius: 20px;
  top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popup-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #382a5a;
}
.btn-close {
  width: 25%;
  background-color: #c5253a;
  color: #f8f5f5;
}
