@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: Forum;
  src: url('../assets/fonts/Forum/Forum-Regular.ttf');
  font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
  box-shadow: none;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px;
  width: 100%;
}

.wrapper {
  background-color: #ffe0e2;
  padding-bottom: 20px;
}

.books {
  background-color: #f8f5f5;
}

.sub-header {
  margin: 0;
  text-align: center;
  padding: 60px 0 20px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #504dac;
}

.books {
  width: 80wh;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 30px;
  padding: 20px 0;
}

.cards {
  height: 350px;
  width: 490px;
  display: flex;
  background-color: #faf0f6;
  position: relative;
  transition: 1.5s;
  cursor: pointer;
  border-radius: 20px;
}
.cards:hover {
  transform: scale(1.01);
  background-color: #dff8ea;
  border-right: 2px solid #504dac;
  border-bottom: 2px solid #ec447c;
}

img {
  width: 240px;
  background: #eeecec;
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
}

.title {
  margin: 0;
  text-align: center;
  padding-top: 80px;
}

.header {
  min-height: 670px;
  background-image: url('../assets/img/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  position: relative;
}

.card-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.title-link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  letter-spacing: 0.1em;
  color: #504dac;
}

.title-link:hover {
  color: #3697d8;
}

.title {
  transition: 2s;
}

.title:hover {
  transform: scale(1.1);
}

.author {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #5c6a79;
}

.books-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2a2a8f;
}

.price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #101029;
}

.btn {
  width: 60%;
  height: 30px;
  padding: 5px;
  background-color: #5ed690;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 8px;
  color: #626286;
  text-transform: uppercase;
  transition: 2s;
}

.btn:hover {
  transform: scale(1.1);
  background-color: #3ac574;
}

.btn-add {
  width: 100%;
  font-size: 12px;
  height: 40px;
  background-color: #ec447c;
  color: #ddb2b2;
}
.btn-add:hover {
  background-color: #be3462;
}
.popup-wrapper {
  width: 550px;
  height: 250px;
  position: absolute;
  background-color: rgba(230, 226, 243, 0.95);
  padding: 20px;
  border-radius: 20px;
  top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #382a5a;
}

.btn-close {
  width: 25%;
  background-color: #c5253a;
  color: #f8f5f5;
}

.btn-close:hover {
  background-color: #b61a2f;
}

.chart {
  width: 150px;
  min-height: 20px;
  position: absolute;
  background-color: rgba(105, 47, 128, 0.92);
  padding: 20px;
  border-radius: 20px;
  right: 0;
  top: 720px;
  cursor: pointer;
  color: #d0e6d9;
  transition: 1s;
}

.chart:hover {
  transform: scale(1.1);
  background-color: rgba(105, 47, 128, 0.8);
}

.chart-title {
  text-align: center;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #3b0e64;
}

.cart {
  width: 800px;
  height: 600px;
  top: 0;
  position: fixed;
  background-color: rgba(230, 226, 243, 0.95);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 4444;
}

.btn-cart {
  text-transform: uppercase;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 10px;
  width: 100px;
  height: 30px;
  padding: 5px;
  transition: 1s;
}

.btn-cart:hover {
  transform: scale(1.1);
}

.heading {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2a2a8f;
}

.wrap {
  width: 100%;
  height: 50px;
  display: flex;
  column-gap: 30px;
}

.cart {
  display: none;
}

.field {
  width: 82%;
  min-height: 78%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.field .cards {
  width: 200px;
  height: 150px;
  margin: 10px;
  display: flex;
  position: relative;
}

.field .author {
  font-size: 8px;
}

.field .books-title {
  font-size: 8px;
  line-height: 8px;
}

.removeB {
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  right: -10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
}

.hidden {
  display: none;
}
